<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.dao.OrderUserListMapper">

    <!-- 多对一 order->user->orderdetail/association+collection -->
    <select id="findOrderUserDetailListMapper"  resultMap="OrderUserDetailListResultMap">
        SELECT o.id, o.user_id, o.number,o.createtime, u.id  uid,u.username, u.birthday, od.id od_id,od.items_id
        FROM Orders o
            left join USER u on o.user_id = u.id
            left join orderdetail od on od.`orders_id` = o.`id`
    </select>
    <resultMap id="OrderUserDetailListResultMap" type="order">
        <id property="id" column="id"/>
        <result property="userid" column="user_id"/>
        <result property="number" column="number"/>
        <result property="createtime" column="createtime"/>
        <association property="user" javaType="user">
            <id property="id" column="uid"/>
            <result property="username" column="username"/>
            <result property="birthday" column="birthday"/>
        </association>
        <collection property="orderDetail" ofType="orderDetail">
            <id property="id" column="od_id"/>
            <result property="itemsId" column="items_id"/>
        </collection>
     </resultMap>


    <!-- 一对多 user->order->orderdetail->item/ collection+association -->
    <select id="findUserOrderDetailItemListMapper" resultMap="UserOrderDetailItemListResultMap" >
        SELECT u.id uid,u.username u_name,u.birthday u_birthday,
               o.id oid,o.user_id o_user_id, o.number o_number,o.createtime o_createtime ,
               od.id od_id,od.`orders_id` , od.`items_num` od_num, od.items_id , od.items_num*it.price sumprice,
               it.name, it.price, it.`detail`,it.`createtime`
        FROM user u
        LEFT JOIN orders o on o.user_id=u.id
        LEFT JOIN orderdetail od on od.orders_id=o.id
        LEFT JOIN items it ON od.`items_id`=it.`id`
    </select>
    <resultMap id="UserOrderDetailItemListResultMap" type="user">
        <id property="id" column="uid"/>
        <result property="username" column="u_name"/>
        <result property="birthday" column="birthday"/>
        <collection property="order" ofType="order">
            <id property="id" column="id"/>
            <result property="userid" column="o_user_id"/>
            <result property="number" column="o_number"/>
            <result property="createtime" column="createtime"/>
            <collection property="orderDetail" ofType="com.hk.pojo.OrderDetail">
                <result property="id" column="od_id"/>
                <result property="itemsNum" column="od_num"/>
                <result property="itemsId" column="items_id"/>
                <result column="sumprice"/>
                <association property="items" javaType="com.hk.pojo.Items">
                    <id property="id" column="items_id"/>
                    <result property="name" column="name"/>
                    <result property="price" column="price"/>
                    <result property="detail" column="detail"/>
                    <result property="createtime" column="createtime"/>
                </association>
            </collection>
        </collection>
    </resultMap>

    <!--多对一分步查询/延迟加载 -->
    <select id="findOrderUserListLazyLoading" resultMap="OrderUserListLazyLoadingResultMap">
        select * from orders
    </select>
    <resultMap id="OrderUserListLazyLoadingResultMap" type="order">
        <id property="id" column="id"/>
        <result property="number" column="number"/>
        <result property="createtime" column="createtime"/>
        <association property="user" select="com.hk.mapper.UsersMapper.findUserById" column="user_id"/>
    </resultMap>

    <!-- 一对多分步查询/延迟加载/临时增加列did，传递两个参数，以Map传给findOrderByUId-->
    <select id="findUserOrder" resultMap="findUserOrderResultMap">
        select *,'4' as did  from user    where id=#{id}
    </select>
    <resultMap id="findUserOrderResultMap" type="user">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <collection property="order" select="com.hk.dao.UserMapper.findOrderByUId" column="{uid=id,depid=did}"/>
    </resultMap>
</mapper>
